@media only screen and (min-width: 749px) {
  .cart-page {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
  }
}

@media only screen and (min-width: 749px) {
  .cart-page-up {
    margin: 20px;
  }
}

.cart {
  &-page {
    display: flex;

    &-up {
      width: 30vw;
      height: auto;
    }
  }

  &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

    &-product {
      width: 70vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        text-align: center;
      }
    }
  }
}
