.cart {
  margin: 1rem 0;

  &-cards {
    display: flex;
    flex-direction: row;
    height: 400px;

    &-quantity {
      font-size: 2rem;
      padding: 0 2rem;
    }
  }
  &-product {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .card-title {
    font-size: 1.5rem;
  }

  &-buttons {
    display: flex;
    justify-content: center;

    button {
      background-color: #536b8e !important;
      color: #fff !important;
    }
  }

  .product-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    height: auto;

    span {
      margin-top: 1rem;
    }
  }
}

.avoidCLicks {
  pointer-events: none;
}
