@media only screen and (min-width: 749px) {
.cart-page {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
}
}

@media only screen and (min-width: 749px) {
.cart-ring-up {
margin: 20px;

}
}

.cart-list {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;

  &-product {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      text-align: center;
    }
  }
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 500px;
  width: 500px;
  margin: 2rem 0;
  margin-right: 5rem;

  &-info {
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
