nav {
  background-color: #526b8e;
}

footer {
  background-color: #526b8e;
}

button {
  background-color: #e63946 !important;
}

.searchBar {
  color: green !important;
}

// .blue-text.text-darken-2 {
//   color: red !important;
// }
